{% extends 'base.html.twig' %}

{% block body %}
    <h1> Customers List </h1>
    <table>
        <thead>
            <tr>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Email </th>
                <th> Gender </th>
                <th> Country </th>
                <th> City </th>
                <th> Phone </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ customer.firstname}} </td>
                <td> {{ customer.lastname}} </td>
                <td> {{ customer.email}} </td>
                <td> {{ customer.gender}} </td>
                <td> {{ customer.country}} </td>
                <td> {{ customer.city}} </td>
                <td> {{ customer.phone}} </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
